loja/target/
loja/.settings/
loja/.classpath
loja/.project
loja/target/
fornecedor/.settings/
fornecedor/.classpath
fornecedor/.project
eureka-server/target/
eureka-server/.settings/
eureka-server/.classpath
eureka-server/.project
config-server/target/
config-server/.settings/
config-server/.classpath
config-server/.project
.metadata

